# Ignorisanje izvršnih fajlova
*.exe
*.dll
*.pdb

# Ignorisanje fajlova izgrađenih u toku kompilacije
*.obj
*.ilk
*.pch
*.sdf
*.idb
*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sln.docstates
*.suo
*.vcxproj.filters
[Bb]in/
[Dd]ebug/
[Rr]elease/
_x64/
x64/

# Ignorisanje fajlova izgrađenih u toku testiranja
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Ignorisanje direktorijuma za intermedijarne fajlove
[Oo]bj/
[Ll]og/
[Tt]emp/
[Bb]uild/

# Ignorisanje fajlova za generisanje dokumentacije
[Dd]oc/
*.chm

# Ignorisanje fajlova za analizu koda
*.suo
*.user
*.sln.docstates

# Ignorisanje fajlova za lokalnu konfiguraciju
*.user

# Ignorisanje fajlova za NuGet pakete
packages/

# Ignorisanje fajlova za CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/

# Ignorisanje fajlova za vcpkg
vcpkg_installed/

# Ignorisanje fajlova za Visual Studio Code
.vscode/

# Ignorisanje fajlova za Xcode
*.xcodeproj/
*.xcworkspace/